[mirai]
qq = "请修改为你机器人的 QQ 号"
api_key = "1234567890"
http_url = "http://localhost:8080"
ws_url = "http://localhost:8080"


[characters]
command = "加载角色 (\\w+)"
default_character_id = "imCTKnpaPqOs-w6QdvStdPLm15UZ7QdBImd8uo4ylw4"
loaded_successful = "角色加载成功！"

[characters.keywords]
"拜登" = "Vb8Efxa3nNAmL1xYgmYjYOnVVAT9ztTkYDQCeQjKR50"
"丁真" = "f4z5XLwZuK_txuvCd8SLuzN4veppXT0bE65kdWicZ1s"
"杠精" = "imCTKnpaPqOs-w6QdvStdPLm15UZ7QdBImd8uo4ylw4"
"角色扮演-勇者" = "q0Vd_OrT1UoDbw2SQ0MfmMomoBbxAk9ZPorsAv3j9TA"


[text_to_image]
font_size = 30
width = 700
font_path = "fonts/sarasa-mono-sc-regular.ttf"
offset_x = 50
offset_y = 50

[trigger]
# 触发聊天的前缀
prefix = [ "chat",]
require_mention = "at"
reset_command = [ "重置会话",]
rollback_command = [ "回滚会话",]

[response]
placeholder = "如果您需要重置我们的会话，请回复`重置会话`。"
error_format = "出现故障！如果这个问题持续出现，请和我说“重置会话” 来开启一段新的会话，或者发送 “回滚对话” 来回溯到上一条对话，你上一条说的我就当作没看见。\n{exc}"
quote = true
timeout = 30.0
timeout_format = "我还在思考中，请再等一下~"
reset = "会话已重置。"

[system]
# 是否自动同意加群
accept_group_invite = false
# 是否自动同意好友
accept_friend_request = false
